* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --active-color: #f00f46;
    --ribbon-color: #404c5f;
    --background-color: #fee8d0;
    --border: 30px;
}

body {
    background-color: var(--background-color);
}

header {
    padding: 0px 2%;
    background-color: var(--ribbon-color);
    width: 100%;
    position: sticky;
    top: 0;
}

nav {
    width: 95%;
}

.logo {
    padding: 12px;
    width: 4%;
    vertical-align: middle;
}

.logo img {
    height: 3rem;
    width: 3rem;
    box-shadow: none;
}

header,
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

li a {
    border-radius: var(--border);
    height: 100%;
    color: white;
    padding: 16px;
    font-weight: bold;
    text-align: center;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: var(--active-color);
}

main {
    min-height: 90vh;
    text-align: center;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

h1,
h2 {
    text-shadow: 1px 1px 2px var(--ribbon-color);
}

.banner {
    height: 40vh;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

img {
    border-radius: var(--border);
    object-fit: cover;
    height: 20vw;
    width: 20vw;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}


.non-article {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.description {
    text-align: left;
}

table {
    height: 80vh;
    width: 80%;
    border: 1px solid black;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: var(--ribbon-color);
}

.reviews {
    background-color: #404c5f;
    border-radius: var(--border);
    padding: 20px;
    color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}

h3 {
    display: list-item;
    justify-self: center;
}

.reviewer-photo {
    box-shadow: none;
}


.stars {
    box-shadow: none;
    height: 20%;
}

.hire {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 2vw;
}

.map {
    background-color: var(--ribbon-color);
    padding: 2vw;
    border-radius: var(--border);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vh;
    background-color: var(--ribbon-color);
    color: white;
    border-radius: var(--border);
    padding: 2vw;
}

fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

label {
    font-weight: bold;
}

legend {
    font-weight: bold;
    padding: 1vh 0;
}

input {
    background-color: var(--background-color);
    border-radius: var(--border);
    padding: 1vh 2vh;
}

textarea {
    background-color: var(--background-color);
    resize: none;
    border-radius: var(--border);
    padding: 3vh;
}

select {
    background-color: var(--background-color);
    padding: 1vh 2vh;
    border-radius: var(--border)
}

#send {
    background-color: #f00f46;
    color: white;
    font-weight: bolder;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100%;
}

.contact p {
    margin-top: 3rem;
    text-align: left;
}


.contact-link {
    padding: 10px;
    background-color: var(--active-color);
    border-radius: var(--border);
}

.contact-link a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.contact-link:hover {
    background-color: black;
}



p {
    width: 50%;
    height: 100%;
}

footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-height: 5vh;
    min-width: 100%;
    text-align: center;
    background-color: var(--ribbon-color);
    margin-top: 5vh;
    color: white;
}